@import "reboot";
@font-face {
  font-family: CodePro; /* Имя шрифта */
  src: url(../fonts/Code-Pro-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
  font-family: CodeProL; /* Имя шрифта */
  src: url(../fonts/Code-Pro.ttf); /* Путь к файлу со шрифтом */
}
$red: #9c053c;
$black: #1d1d1b;
*{}
body{
  position: relative;
  overflow-x: hidden;
  max-width: 1920px;
  margin: auto;
}
.wrapper{
  max-width: 1210px;
  margin: auto;
  padding: 0 20px;
}
.nav-icon-line{
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-icon-line #nav-text-in{
  margin-left: 63px;
  position: relative;
  top: 11px;
  text-transform: uppercase;
  color: #fff;
  font-size: 19px;
  float: left;
}
#nav-icon{
  float: left;
  display: none;
  width: 31px;
  height: 30px;
  border-radius: 4px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}
#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 75%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  margin: auto;
  left: 0;
  right: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 3 */

#nav-icon span:nth-child(1) {
  top: 7px;
}

#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
  top: 16px;
}

#nav-icon span:nth-child(4) {
  top: 25px;
}

.open{
  z-index: 999999;
  top: 27px;
  right: 47px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.opener{
  display: flex!important;
  max-height: 500px!important;
  transition: max-height 1s ease;
  overflow: hidden;
  width: 100%;
}
#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.nav-icon-line{
  display: none;
}
header .top_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

header .top_header .logo{
  width: 170px;
  height: 42px;
  margin-left: 20%;
  margin-right: 20px;
}

header  .top_menu{
  display: flex;
  justify-items: center;
  align-items: center;
  list-style: none;
  background: $black;
  width: 100%;
  height: 100%;
  min-height: 100px;
  padding: 0;
  margin: 0;
}
header .top_menu li {
  display: flex;
  align-items: center;
  min-height: 100px;
  margin-right: -20px;
  transition: all .1s ease-in;
}
header .top_menu li a{
  vertical-align: middle;
  color: #fff;
  text-decoration: none;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-right: 30px;
  padding-left: 20px;
  line-height: 100px;
}
header .top_menu li:hover{
  background: $red;
}
.header_center{
  min-height: 800px;
  width: 100%;
  background: url("../img/bg-header.jpg")0 0 no-repeat;
  background-size: 100% 100%;
  position: relative;
}
.header_center .header_center_top{
  position: absolute;
  right: 21%;
  top: 50px;
  line-height: 1.2;
}
.header_center .header_center_top span{
  text-transform: uppercase;
  color: $red;
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 50px;
}
.header_center .header_center_top p{
  font-family: 'Fira Sans', sans-serif;
  font-weight: 500;
  font-size: 18px;
}

.header_center .header_center_bottom{
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -37px;
  left: 0;
  right: 0;
  line-height: 1.2;
  padding-bottom: 50px;
}
.header_center .header_center_bottom .proc{
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 150px;
  color: $red;
  margin-right: 16px;
}
.header_center .header_center_bottom .text1{
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 50px;
}
.header_center .header_center_bottom .text2{
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 50px;
  color: $red;
}
.header_center .header_center_bottom .tel{
  position: relative;
  left: 124px;
}
.header_center .header_center_bottom .tel a{
  background: $red;
  padding: 20px 40px;
  padding-left: 70px;
  margin-left: 20px;
  border-radius: 30px;
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-transform: uppercase;
  position: relative;
}
.header_center .header_center_bottom .tel a:before{
  content: '';
  background: url("../img/call.png")0 0 no-repeat;
  background-size: cover;
  display: block;
  width: 80px;
  height: 80px;
  position: absolute;
  top: -10px;

}

.block1{
  background: $black;
  padding: 50px 0;
}
.block1 h2{
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
.block1 .carusel1 .item h4{
  color: #fff;
  text-align: center;
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1.2px;
}
.block1 .carusel1 .item {
  width: 500px;
  height: 400px;
  position: relative;
}
.block1 .carusel1 .item:before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(29, 29, 27, 0.62);

}
.block1 .carusel1 .owl-item.active.center{
  z-index: 10;
}
.block1 .carusel1 .owl-item.active.center .item:before{
  background: rgba(29, 29, 27, 0);
}

.block1 .carusel1  .owl-dots.disabled{
  display: block!important;
  margin-top: 40px;

}
.block1 .carusel1  .owl-dots{
  margin-top: 40px;
}
.owl-theme .owl-dots .owl-dot{
  outline: none;
}
.block1 .carusel1  .owl-dots span{
  width: 30px;
  background: #6f6f6f;
  border-radius: 0;
}
.block1 .carusel1  .owl-dots .owl-dot.active span{
  background: $red;
}
.block2 .row{
  min-height: 500px;
  display: flex;
}
.block2 .row .bg{
  background-size: cover;
  width: 50%;
  height: initial;
  position: relative;
}
.block2 .row .block2_item1{
  background: url("../img/block2/foto1.png")0 0 no-repeat;
}
.block2 .row .block2_item2{
  background: url("../img/block2/2.png")0 0 no-repeat;
}
.block2 .row .block2_item3{
  background: url("../img/block2/3.png")0 0 no-repeat;
}

.block2 .row .block2_item4{
  background: url("../img/block2/4.png")0 0 no-repeat;
}

.block2 .row .cover{
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: rgba(47, 46, 46, 0.61);
  opacity: 0;
  cursor: pointer;
  transition: all .4s ease-in;
}
.block2 .row .cover:hover{
  opacity: 1;
}
.block2 .row .cover span{
  margin-bottom: 100px;
  margin-right: 100px;
  color: #fff;
  font-family: "Fira Code", sans-serif;
  font-weight: 400;
  font-size: 35px;
  border-right: 4px solid;
  text-align: right;
  padding-right: 15px;
}
.fack{
  width: 100vw;
  height: 100vh;
  background: #6c757d;
}
.show-480px{
  display: none;
}
.block3{
  padding-top: 85px;
  overflow: hidden;
}
.block3 .row{
  display: flex;
  width: 1200px;
  margin: auto;
  margin-bottom: 10px;
}
.block3 .row:last-child{
  margin-bottom: 0;
}
.block3 .row .blcok3_item{
  width: 50%;
}
.block3 .blcok3_item  h2{
  font-family: CodePro, monospace;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase;
  color: $red;
  position: relative;
  line-height: 1;
}
.block3 .blcok3_item  h2:before{
  content: '';
  width: 50px;
  height: 3px;
  display: block;
  background: #363630;
  position: absolute;
  top: 50%;
  left: -65px;
  transform: translateY(-50%);
}
.block3 .blcok3_item.right  h2:after,.block3 .blcok3_item.left  h2:after{
  position: absolute;
  top: -30px;
  left: 25px;
  font-size: 50px;
  color: #000;
  z-index: -1;
  opacity: .1;
  font-family: "Fira Code Light",sans-serif;
  font-weight: 500;
}
.block3 .blcok3_item.left  h2:after{
  content: 'престижность';
}
.block3 .blcok3_item.right.bg{
  width: 50%;
  height: 443px;
  background-size: cover;
  margin-left: 20px;
  position: relative;
}
.block3 .blcok3_item.right.bg img{
  width: 600px;
  height: 400px;
  position: relative;
  left: -41px;
}
.block3 .blcok3_item.right.bg:after{
  content: "";
  width: 187%;
  height: 100%;
  position: absolute;
  background: #efefef;
  z-index: -1;
  top: -85px;
  left: 0px;
}
.block3 .blcok3_item.left img{
  width: 600px;
  height: 400px;
  transform: translateY(36%);
  position: relative;
  right: -67px;
}
.block3 .blcok3_item.left.bg{
  position: relative;

}
.block3 .blcok3_item.left.bg:before{
  content: "";
  width: 187%;
  height: 100%;
  position: absolute;
  background: #efefef;
  z-index: -1;
  top: 0px;
  left: -521px;
}

.block3 .blcok3_item.right.text{
  padding-left: 74px;
}

.block3 .blcok3_item.right  h2:after{
  content: 'удобство';
  left: -70px;
}
.block3  .blcok3_item.left ul,.block3 .blcok3_item.right ul{
  list-style-type: square;
}
.block3  .blcok3_item.left ul li,.block3 .blcok3_item.right ul li{
  color: $red;
}
.block3  .blcok3_item.left ul li span,.block3 .blcok3_item.right ul span{
  color: black;
  font-family: "Fira Code",sans-serif;
}
.block3 .blcok3_item.right ul li:first-child{
  list-style-type: none;
  font-weight: bold;
  color: $black;
  position: relative;
  left: -20px;
}
.blcok3_item.left > span{
  color: $red;
  font-family: "Fira Code",sans-serif;
  padding-left:20px;
  text-align: left;
  display: block;
  font-weight: 700;
}
.block4 .row{
  display: flex;
  height: 500px;
}
.block4 .row img{
  width: 50%;
}
.block4 .row img:first-child{
  margin-right: 1px;
}

.block5 {
  background: $black;
  padding-bottom: 30px;
}
.block5 h2{
  color: #fff;
  text-align: left;
  width: 1200px;
  font-family: CodePro,sans-serif;
  font-size: 40px;
  font-weight: 900;
  position: relative;
  padding-left: 50px;
  letter-spacing: 1.2px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.block5 h2:before{
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  display: block;
  background: $red;
  top: 50%;
  left: -40px;
}
.w{
  flex: 100%;
}
.block5 .row{
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 1200px;
  margin: auto;
}
.block5 .row ul li{
  color: $red;
  list-style-type: square;
}
.block5 .row ul li span{
  color: #fff;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.block5 .block5_item > span{
  color: $red;
  font-family: CodeProL,sans-serif;
  font-size: 20px;
  line-height: 1;
  font-weight: 100;
  position: relative;
  padding-left: 60px;
  width: 229px;
  display: block;
  margin: auto;
  margin-bottom: 40px;
}
.block5 .block5_item > span:before{
  content: "";

  position: absolute;
  display: inline-block;
  left: -20px;
}
.block5 .block5_item .one:before{
  background: url("../img/funds.png")0 0 no-repeat;
  width: 67px;
  height: 60px;
}

.block5 .block5_item .two:before{
  content: "";
  background: url("../img/manager.png")0 0 no-repeat;
  width: 72px;
  height: 73px;
  position: absolute;
  display: inline-block;
  top: -10px;
  left: -20px;
}
.block5 .block5_item .three:before{
  content: "";
  background: url("../img/cogwheel.png")0 0 no-repeat;
  width: 77px;
  height: 77px;
  position: absolute;
  display: inline-block;
  top: -12px;
  left: -28px;
}
.block6 {
  background: #efefef;
}
.block6 .row{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 1200px;
  margin: auto;
}
.block6 .row > img{
  width: 476px;
  height: 127px;
  margin: auto;
  margin-bottom: 35px;
}
.block6 .row .wrap{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.block6 .row .wrap .block6_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 31%;
}
.block6 .row .wrap .block6_item span{
  color: $red;
  font-family: CodeProL,sans-serif;
  font-size: 70px;
  font-weight: 900;
}
.block6 .row .wrap .block6_item p{
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  text-align: center;
}
.block6 h2{
  color: $red;
  text-align: left;
  font-family: CodePro,sans-serif;
  font-size: 40px;
  font-weight: 900;
  position: relative;
  padding-left: 50px;
  letter-spacing: 1.2px;
  margin-top: 50px;
  margin-bottom: 60px;
}
.block6 h2:before{
  content: "";
  width: 70px;
  height: 4px;
  position: absolute;
  display: block;
  background: $black;
  top: 50%;
  left: -40px;
}
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {
  header .top_header .logo{
    margin-left: 4%;
  }
  .header_center .header_center_bottom .tel{
    left: 0;
  }
  .header_center .header_center_bottom .proc{
    font-size: 100px;
  }
  .header_center .header_center_bottom .text1,.header_center .header_center_bottom .text2{
    font-size: 40px;
  }
  header .top_menu li a{
    font-size: 15px;
  }
  .block3 .blcok3_item h2:before{
    display: none;
  }
  .block5 .block5_item{
    width: 31%;
  }
  .block6 h2:before{
    left: -16px;
    width: 49px;
  }
}

@media only screen and (max-width: 1200px){
  header .top_header .logo{
    width: 130px;
    height: 36px;
    margin-left: 10px;
  }
  .block2 .row .cover span{
    margin-right: 28px;
  }
  .block3 .row{
    padding: 0 20px;
  }
  .block3 .blcok3_item.right.bg img,.block3 .blcok3_item.left img {
    width: 492px;
    height: 333px;
  }
  .block3 .row .blcok3_item {
    width: 41%;
  }
  .block3 .blcok3_item.left img {
    transform: translateY(70%);
  }
  .block3 .blcok3_item.right h2:after{
    left: -31px;
  }
  .block5 .row{
    width: 100%;
    padding: 0 30px;
  }
  .block5 h2{
    line-height: 1;
  }
  .block5 h2:before {
    content: "";
    width: 46px;
    left: -5px;
  }
  .block5 h2{
    width: 100%;
  }
  .block6 .row{
    width: 100%;
    padding: 0 40px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  body{
    padding-top: 70px;
  }
  header .top_header .logo{
    display: none;
  }
  .header_center .header_center_bottom .tel{
    position: fixed;
    bottom: 45px;
    right: 15px;
    left: initial;
    z-index: 50;
  }
  .header_center .header_center_top{
    right: 0%;
    left: 0;
    top: 0;
    padding-top: 20px;
    background: url("../img/header-text.png") 0 0 no-repeat;
    background-size: 100% 100%;
    text-align: center;
    margin-top: -100px;
  }
  .header_center .header_center_top p{
    font-size: 25px;
  }
  .header_center{
    min-height: 500px;
    margin-top: 100px;
  }
  .wr{
    margin: -15px 0;
    background: #9c053c;
    height: 86px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #nav-icon{
    display: block;

  }
  .nav-icon-line{
    display: flex;
    padding: 15px 0px;
    background: $black;
    position: fixed;
    top: 0;
    z-index: 99999999;
  }
  header .top_header{
    min-height: inherit;
  }
  header .top_menu{
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-top: 56px;
    z-index: 99999;
    overflow: hidden;
    transition: all .4s;
    min-height: inherit;
    max-height: 0;
    background: $red;
  }

  header .top_menu li{
    min-height: inherit;
  }
  header .top_menu li a{
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
    line-height: 40px;
  }
  header .nav-icon-line .menu_mob{
    margin: auto;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    left: -34px;
    position: relative;
  }
  header .nav-icon-line .menu_mob .tel{
    color: #fff;
    font-family: CodePro, monospace;
    font-weight: bold;
    font-size: 18px;
  }
  header .nav-icon-line .menu_mob p{
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
  .block1 .carusel1{
    display: none;
  }
  .block1 .img-bg-mob{
    background: url("../img/slider/mob.png") 0 0 no-repeat;
    display: block;
    width: 320px;
    height: 250px;
    background-size: cover;
    margin: auto;
  }
  .block1 h2{
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .block1 .mob-text span{
    display: block;
    text-align: center;
    color: #fff;
    font-family: CodePro, monospace;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.2px;
    margin-bottom: 20px;
  }
  .block1{
    padding: 20px 0;
  }
  .block2 .row{
    flex-flow: row wrap;
  }
  .block2 .row .bg{
    width: 100%;
    height: 480px;
    background-size: cover;
  }
  .block2 .row .cover{
    opacity: 1;
    right: initial;
    bottom: initial;
    left: 50%;
    top: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
    background: rgba(255,255,255,.5);
    text-align: center;
    padding: 20px;
  }
  .block2 .row .cover span{
    border-right: none;
    text-align: center;
    color: #000;
    line-height: 1;
  }
  .block3 .row .blcok3_item{
    width: 100%;
    margin: auto;
  }
  .block3 .blcok3_item.right.bg,.block3 .blcok3_item.left.bg{
    display: none;
  }
  .block3 .row .blcok3_item{
    margin-bottom: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block3 .row .blcok3_item:last-child{
    margin-bottom: 0;
  }
  .block3 .row{
    width: 100%;
  }
  .blcok3_item.right img{
    width: 320px;
    margin-bottom: 61px;
    margin-top: -36px;

  }
  .block3 .blcok3_item.right.text {
    padding-left: 0;
  }
  .block4 .row{
    height: 336px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .block2 .row .bg{
    height: 350px;
  }
  .block3 .blcok3_item.right h2:after, .block3 .blcok3_item.left h2:after{
    content: '';
    background: #1d1d1b;
    width: 78px;
    height: 3px;
    z-index: 99;
    left: 50%;
    transform: translate(-50%);
    bottom: -7px;
    top: inherit;
    opacity: 1;
  }
  .block3 .blcok3_item h2{
    text-align: center;
  }
  .block3{
    padding-top: 41px;
  }
  .blcok3_item.right img{
    margin-bottom: 40px;
  }
  .block3 .blcok3_item.right ul li:first-child{
    text-align: center;
    margin: 16px 0 21px;
    font-size: 20px;
  }
  .block4 .row img{
    width: 100%;
  }
  .block4 .row img:last-child{
    display: none;
  }

  .block5 .row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .block5 .block5_item{
    width: auto;
    margin-bottom: 50px;
  }
  .block5 h2{
    text-align: center;
  }
  .block5 h2:before {
    content: "";
    width: 120px;
    top: 122%;
    left: 50%;
    transform: translate(-40%);
  }
  .block6 .row .wrap{
    flex-direction: column;
    align-items: center;
  }
  .block6 h2{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
  .block6 h2:before {
    left: 50%;
    width: 66px;
    top: 106%;
    transform: translate(-50%);
  }
  .block6 .row .wrap .block6_item{
    width: 100%;
  }
  .block6 .row>img{
    width: 428px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
  .hide-in-480{
    display: none;
  }
  .show-480px{
    display: block;
  }
  .header_center .header_center_top span{
    font-size: 25px;
  }
  .header_center .header_center_top p{
    font-size: 19px;
  }
  .header_center .header_center_bottom .proc{
    font-size: 60px;
    width: 34%;
  }
  .header_center .header_center_bottom .text{
    width: 40%;
  }
  .header_center .header_center_bottom{
    flex-flow:row wrap;
  }
  .header_center .header_center_bottom .text1, .header_center .header_center_bottom .text2 {
    font-size: 26px;
  }
  .header_center {
    min-height: 280px;
    margin-top: 100px;
    background: url(../img/header-mob.png)0 0 no-repeat;
    background-size: 100% 100%;
  }
  .header_center .header_center_top {
    background-size: 100% 68%;
    height: 100%;
  }
  header .nav-icon-line .menu_mob{
    left: initial;
  }
  .block1{
    padding-top: 0;
  }
  .block2 .row .bg {
    height: 306px;
  }
  .block2 .row .cover{
    width: 90%;
  }
  .block2 .row .cover span{
    font-size: 23px;
  }
  .block3 .blcok3_item h2{
    font-size: 25px;
  }
  .block4 .row {
    height: 247px;
  }
  .block5 h2{
    font-size: 20px;
    padding-left: 0;
  }
  .block6 .row>img{
    width: 100%;
  }
  .block6 h2{
    font-size: 25px;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
.show-992px{
  display: none;
}
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}